* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62,5%;
  font-family: 'Helvetica'; }

header .navbar .mau .linksContainer ul li .nav-link {
  color: deeppink; }

.mainIndex .introContainer .tituloIntro {
  color: deeppink; }

.mainIndex .introContainer .textoIntro .botonContainerIntro .btn-primary {
  background-color: deeppink;
  border-color: deeppink; }
  .mainIndex .introContainer .textoIntro .botonContainerIntro .btn-primary:hover {
    background-color: deeppink; }

.mainIndex .banner .row .bannerTextContainer a {
  background-color: deeppink;
  border-color: deeppink; }
  .mainIndex .banner .row .bannerTextContainer a:hover {
    background-color: deeppink; }

footer nav .nombreFooter {
  color: deeppink; }

footer nav .row .containerRrss {
  display: flex; }
  footer nav .row .containerRrss li {
    list-style: none;
    margin: 0 15px; }

.formulario {
  text-align: center;
  width: 30%;
  margin: auto; }

.botonRosado {
  background-color: deeppink;
  border-color: deeppink; }
  .botonRosado:hover {
    background-color: deeppink; }

.tituloPink {
  color: deeppink; }
