
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
    font-family: Helvetica, sans-serif;
}

body {
    
    padding: 30px;
    color: rgb(0, 0, 0);
}

.cabecera {
    text-align: right;
    padding: 20px;
}

.logo {
    fill: rgb(128, 59, 59);
    width: 80px;
    position: absolute;
    left: 20px;
}

li {
    display: inline;
}


.link {
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 20px;
}

.tituloPrincipal {
    color: rgb(2, 2, 2);
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    line-height: 1.6;
    text-align: center;
}

.parrafoPrincipal {
    padding: 30px 0;
}

nav ul {
    list-style-type: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #000000 ;
}

nav ul li a:hover {
    color: rgb(255, 255, 255);

}

.gato1 {
    width: 250px;
}

.centered {
    text-align: center;
}

.boton {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 8px;
    margin: 5px 0;
}

.formulario {
    text-align: center;
    width: 30%;
    margin: auto   
}

.fotoDom {
    width: 800px;
}

.intro {
    border: 1px solid red;
    margin: 150px 0;
    padding: 0 390px;
    text-align: center;
    
}

.banner {
    margin-bottom: 30px;
}