@import "mixins";
@import "resets";
@import "header";
@import "mainIndex";
@import "footer";


.formulario {
    text-align: center;
    width: 30%;
    margin: auto   
}

.botonRosado {
    @include botonRosado
}

.tituloPink {
    color: deeppink;
}


